.about {
  background: silver;
  &__title {
    font-size: em(40px);
    text-decoration: underline;
    text-decoration-style: wavy;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin: 30px 0;
  }

  &__text {
    font-size: em(30px);
    color: white;
    padding: em(10px) em(25px);
    text-align: center;

    &--hi {
      color: yellow;
    }
  }
}



/* about image animation */

.hs-wrapper{
	width: em(200px);
	height: em(200px);
	position: relative;
	margin: em(30px) auto;
	overflow: hidden;
  border-radius: 50%;
  border: 3px solid #fff;
}
.hs-wrapper img{
	top: 0px;
	left: 0px;
	position: absolute;
	-webkit-animation: showMe 0.8s linear infinite 0s forwards;
	-moz-animation: showMe 0.8s linear infinite 0s forwards;
	-o-animation: showMe 0.8s linear infinite 0s forwards;
	-ms-animation: showMe 0.8s linear infinite 0s forwards;
	animation: showMe 0.8s linear infinite 0s forwards;
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	-ms-animation-play-state: paused;
	animation-play-state: paused;
  height: 100%;
  width: 100%;
}
.hs-wrapper img:nth-child(1){
	z-index: 9;
}
.hs-wrapper img:nth-child(2){
    -webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	animation-delay: 0.1s;
	z-index: 8;
}
.hs-wrapper img:nth-child(3){
    -webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
	z-index: 7;
}
.hs-wrapper img:nth-child(4){
    -webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	animation-delay: 0.3s;
	z-index: 6;
}
.hs-wrapper img:nth-child(5){
    -webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	animation-delay: 0.4s;
	z-index: 5;
}
.hs-wrapper img:nth-child(6){
    -webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
	z-index: 4;
}
.hs-wrapper img:nth-child(7){
    -webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	-ms-nimation-delay: 0.6s;
	animation-delay: 0.6s;
	z-index: 3;
}
.hs-wrapper img:nth-child(8){
    -webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	-o-animation-delay: 0.7s;
	-ms-animation-delay: 0.7s;
	animation-delay: 0.7s;
	z-index: 2;
}

.hs-wrapper:hover img{
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	-o-animation-play-state: running;
	-ms-animation-play-state: running;
	animation-play-state: running;
}


@-webkit-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@-moz-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@-o-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@-ms-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}
