
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background: $color-primary;
}


.banner {
  background: url("../images/banner.jpg") 35% 50% no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: em(420px);
  display: flex;
}


.intro {
  display: flex;
  margin: auto;
  height: em(150px);
  width: 85%;
  background: hsla(0,0%,100%,.3);
  box-shadow: 3px 3px 6px -3px rgba(0,0,0,.5);

  &__title {
    font-family: 'Great Vibes', cursive;
    font-size: em(60px);
    letter-spacing: $letter-space;
    margin: auto;
    color: $highlight;
  }
}
