
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background: $color-primary;
  width: 100%;
}


.banner {
  background: url("../images/banner.jpg") 35% 50% no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: em(420px);
  display: flex;
}


.intro {
  display: flex;
  margin: auto;
  height: em(150px);
  width: 85%;
  background: hsla(0,0%,100%,.3);
  box-shadow: 3px 3px 6px -3px rgba(0,0,0,.5);

  &__title {
    font-family: 'Great Vibes', cursive;
    font-size: em(60px);
    letter-spacing: $letter-space;
    margin: auto;
    color: $highlight;
  }
}

.container {
  width: 90%;
  height: auto;
  background: $color-secondary;
  margin: 0 auto;
  text-align: center;
}

.thumbnail {
  float: left;
  width: 40%;
  margin: 5%;
}

 .thumbnail img {
  max-width: 100%;
}

.image-container {
    position: relative;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.image-container:hover .after {
    background: rgba(0, 0, 0, .6);
    display: flex; /* For centering text inside .image-container */
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
}
