// ==========================================================================
// Global Config
// ==========================================================================

// Descriptive Base Colors
$white    : #fff;
$black    : #0b0b0b;
$grey     : #797e83;


$yellowgreen : #C6D96A;
$sushi       : #A3B341;


// Color Usage
$color-primary   : $yellowgreen;
$color-secondary : $sushi;
