// ==========================================================================
// Global Config
// ==========================================================================

// Descriptive Base Colors
$white    : #fff;
$black    : #0b0b0b;
$grey     : #797e83;


$yellowgreen : #C6D96A;
$sushi       : #A3B341;


// Color Usage
$color-primary   : $yellowgreen;
$color-secondary : $sushi;
$color-shadow    : rgba($black, .2);

// Text

$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;


// Border radius

$br--default    : .4em;
$br--round      : 50%;

// Transitions

$trns-duration  : .3s;
